[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gevent = "*"
h5py ="*"
numpy = "*"
tensorflow-cpu = "*"
Flask = "*"
Pillow = "*"
Werkzeug = "*"
opencv-python = "*"
pandas = "*"
biosppy = "*"
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.9"
